@import "../../../assets/colors.scss";

.page {
    
    .title {
        background-color: $shadow-8;
        padding: 140px 0 50px 0;
        margin-bottom: 50px;
    }

    h1 {
        color: $tint-8;
        font-size: 40px;
        margin-left: 5%;
    }
}