form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35%;
  padding: 10px;
  border: 1px solid black;

  button:last-child {
    margin-bottom: 15px;
  }
}

input {

  width: 100%;
  border: 1px solid black;
  margin-top: 20px;

  &:focus {
    outline: none;
    border-color: green;
  }

}

.button-span {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60px;
  margin-top: 20px;
}

hr {
  width: 100%;
  margin-bottom: 25px;
}

span {  
  font-size: 12px;
  background-color: grey;
  margin-top: 10px;
}