@import "../../../../assets/colors.scss";

form {  
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35%;
  padding: 20px 60px;  
  background-color: rgba($tint-8, 0.1);
  margin-top: 100px;
  margin-bottom: 100px;

  h1 {
    align-self: baseline;
    color: $tint-8;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 30px;
    margin-top: 30px;
  }
}

.sign-up-button {
  width: 100%;
  padding: 12px 10px;
  background-color: $analog-6;
  color: $tint-8;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $analog-tint-2;
  }
}

.register-button {
  width: 100%;
  padding: 12px 10px;
  margin-bottom: 35px;
  background-color: $green;
  color: $tint-8;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $tint-2;
  }
}

input {

  width: 100%;
  padding: 17px 10px;
  border: 1px solid rgba($tint-8, 0.6);
  border-radius: 4px;
  background-color: rgba($tint-8, 0.15);
  margin-top: 15px;
  color: $tint-8;
  font-size: 16px;

  &::placeholder{
    color: rgba($tint-8, 0.6);

  }

  &:focus {
    outline: 3px solid $tint-8;
    outline-offset: -2px;
  }

}

.button-span {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 80px;
  margin-top: 20px;
}

hr {
  width: 100%;
  margin-bottom: 20px;
  color: $tint-8;
}

span {
  padding: 3px;
  font-size: 12px;
  color: $tint-8;
  background-color: $complementary-2;
  margin-top: 10px;
}