@import "../../../../assets/colors.scss";

form {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 20px 60px;
    background-color: $tint-8;
    margin-left: 15%;
}

.input-div,
.textarea-div {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.textarea-div {
    width: 100%;
}

.duration-div {
    display: flex;
    flex-direction: row;
    width: 50%;

    select {
        width: 30%;
    }

    p {
        margin: 0 10px;
    }
}

textarea {
    resize: none;
    height: 280px;
}

.event-dates-div {
    display: flex;
    flex-direction: row;
}

.input-icon,
.textarea-icon {
    display: flex;
    align-items: center;
    justify-content: end;
}

.textarea-icon {
    align-items: start;
}

input, textarea {
    width: 100%;
    padding: 17px 10px;
    border: 1px solid rgba($shadow-8, 0.6);
    border-radius: 4px;
    background-color: rgba($tint-8, 0.15);  
    color: $tint-8;
    font-size: 14px;
  
    &::placeholder{
      color: rgba($tint-8, 0.6);
    }
  
    &:focus {
      outline: 3px solid $tint-8;
      outline-offset: -2px;
    }
    
    &.ng-valid {
      outline: 3px solid $green;
      outline-offset: -2px;
    }
  
    &.ng-touched.ng-invalid {
      outline: 3px solid $complementary-2;
      outline-offset: -2px;
    }
  }

i,
span {
    position: absolute;
}

span {
    font-size: 12px;
    background-color: grey;
}