$green: #117a65;
$shadow-2: #0f6b58;
$shadow-3: #0d5c4c;
$shadow-4: #0b4c3f;
$shadow-5: #093d33;
$shadow-6: #062e26;
$shadow-7: #041e19;
$shadow-8: #020f0d;

$tint-2: #2f8b78;
$tint-3: #4d9b8c;
$tint-4: #6aac9f;
$tint-5: #88bdb2;
$tint-6: #a6cdc5;
$tint-7: #c4ded8;
$tint-8: #e1eeec;

$analog-2: #115a7a;
$analog-3: #11267a;
$analog-4: #30117a;
$analog-5: #65117a;
$analog-6: #7a115b;

$analog-tint-2: #8b2f70;
$analog-tint-3: #9b4d84;
$analog-tint-4: #ac6a98;
$analog-tint-5: #bd88ad;
$analog-tint-6: #cda6c1;
$analog-tint-7: #dec4d6;
$analog-tint-8: #eee1ea;

$complementary-2: #7a1126;