form {
    display: flex;
    flex-direction: column;  
    align-items: center;  
    background-color: rgba(255, 166, 0, 0.151);
    width: 35%;
    border: 2px solid rgb(255, 136, 0);
    border-radius: 12px;
    padding: 10px 10px 10px 10px;
}

input {
    width: 100%;
    padding: 10px 0 10px 10px;
    margin-top: 22px;
    border: 2px solid rgb(192, 192, 192);        
    border-radius: 12px;
    
}

input:focus {
    outline: none;
    border-color: rgb(255, 136, 0);
    box-shadow: none;
}

.name-surname {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.name-surname > div{
    width: 49%;
}

.name {
    display: flex;
    flex-direction: column;
}

.input-div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.error-span {
    padding-left: 5px;
    position: fixed;
    font-size: 12px;
    color: red;
}

.date {
    width: 100%;
    margin-top: 22px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.date > select {
    width: 31%;
    padding: 10px;
    border-radius: 12px;
}


form > input:last-child {
    color: white;
    background-color: rgba(0, 38, 255, 0.700);
    border: none;
    margin-bottom: 10px;
    width: 80%;
    padding: 15px 0 15px 0;
    transition: background-color 0.2s ease;
}

form > input:last-child:hover{
     background-color: rgba(0, 38, 255, 0.840);
}