<h2>{{ category }}</h2>
<swiper #swiper
  [slidesPerView]="'auto'"
  [navigation]="true"
  [slidesPerGroup]="4"
  [allowTouchMove]="false"
  [speed]="700"
  [spaceBetween]="15"
>
  <ng-template swiperSlide
    *ngFor="let event of events; let i = index"
  >
  <div #divSwiper class="div-swiper">
    <a [routerLink]="'/home/event/' + (events[i].title)" (mouseenter)="animateSliders(i)" (mouseleave)="resetSliders(i)">
      <img [src]="events[i].file" alt="{{ events[i].file }}" #slideImg />
      <span #slideSpan> {{ events[i].title }} </span>
    </a>
  </div>
  </ng-template>
</swiper>
