<div class="page">
    <app-shared-event-info [file]="eventData?.file" [title]="eventData?.title" [description]="eventData?.description"
        [duration]="eventData?.duration" [location]="eventData?.location"
        [categorization]="eventData?.categorization"></app-shared-event-info>
    <div class="dates-div">
        <h2>Fechas Disponibles:</h2>
        <div *ngIf="eventDates && eventDates.length; else noDates">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="input-label" *ngFor="let eventDate of eventDates; let i = index">
                    <input type="radio" id="input{{ i }}" formControlName="options" [value]="eventDate._id">
                    <label for="input{{ i }}">Día {{ eventDate.date | date:'dd-MM-yyyy' }} a las {{ eventDate.date | date:'HH:mm' }} h</label>
                </div>
                <button type="submit" [disabled]="!form.valid">Suscribirse al evento</button>
            </form>
        </div>
        <ng-template #noDates>
            <p>No hay fechas disponibles</p>
        </ng-template>
    </div>
</div>