<app-shared-event-info [file]="eventData?.file" [title]="eventData?.title" [description]="eventData?.description"
    [duration]="eventData?.duration" [location]="eventData?.location"
    [categorization]="eventData?.categorization"></app-shared-event-info>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div *ngFor="let eventDate of eventDates; let i = index">
        <input type="radio" id="input{{ i }}" formControlName="options" [value]="eventDate._id">
        <label for="input{{ i }}">{{ eventDate.date }} a las {{ eventDate.hour }}</label>
    </div>
    <button type="submit">Submit</button>
</form>