@import "../../../../assets/colors.scss";
.page {
    background: linear-gradient(to bottom, $shadow-8 55%, $shadow-7, $shadow-6, $shadow-5);
    width: 100%;    
    min-height: 100vh;

    .title {
        position: absolute;
        margin-top: 15px;
        margin-left: 3%;

        h1{
            font-family: "Readex Pro", sans-serif;
            font-size: 35px;
            font-weight: 700;
            color: $tint-8;
        }
    }

    app-shared-login-form {
        display: flex;
        justify-content: center;        
    }
}


