<div
  *ngIf="confirmUnsubscribe"
  class="confirm-unsubscribe"
  (click)="displayConfirmUnsubscribe(false, '', '', '')"
>
  <div (click)="$event.stopPropagation()">
    <p>
      ¿Estás seguro de que quieres cancelar tu asistencia a
      {{ unsubscribeTitle }} el día {{ unsubscribeDate | date:'dd-MM-yyyy' }} a las
      {{ unsubscribeDate | date:'HH:mm' }} horas?
    </p>
    <div>
      <button (click)="unsubscribe()">Confirmar</button>
      <button (click)="displayConfirmUnsubscribe(false, '', '', '')">
        Cancelar
      </button>
    </div>
  </div>
</div>
<div class="page">
  <div class="title">
    <h1>Bienvenido, {{ user?.name }}</h1>
  </div>
  <div class="user-data">
    <h1>Datos del usuario:</h1>
    <p>
      Nombre completo: <strong>{{ user?.name }} {{ user?.surname }}</strong>      
    </p>
    <p>
      Fecha de nacimiento: <strong> {{ user?.birthdate }} </strong>

    </p>
    <p>
      Correo electrónico: <strong> {{ user?.email }} </strong>
    </p>    
  </div>
  <div>
    <h1>Mis suscripciones:</h1>
  </div>
  <div class="grid-div">
    <div *ngFor="let subscription of subscriptions">
      <app-shared-event-miniature
        [title]="subscription.eventId.title"
        [file]="subscription.eventId.file"
        [route]="'/home/event/' + subscription.eventId.title"
      ></app-shared-event-miniature>
      <p>
        Asistencia el día {{ subscription.eventDateId.date | date:'dd-MM-yyyy' }} a las
        {{ subscription.eventDateId.date | date:'HH:mm' }} horas
      </p>
      <div>
        <button
          (click)="
            displayConfirmUnsubscribe(
              true,
              subscription.eventId.title,
              subscription.eventDateId.date,              
              subscription._id
            )
          "
        >
          Cancelar asistencia
        </button>
      </div>
    </div>
  </div>
</div>
