<div class="page">
    <div class="title">
        <h1>Bienvenido, {{ user?.name }}</h1>
    </div>
    <div class="user-data">
        <h1>Datos del usuario:</h1>
        <p>Nombre completo: <strong>{{ user?.name }} {{ user?.surname }}</strong></p>
        <p>Fecha de nacimiento: <strong> {{ user?.birthdate }} </strong></p>
    </div>
    <div>
        <h1>Mis suscripciones:</h1>
    </div>    
    <div class="grid-div">
        <div *ngFor="let subscription of subscriptions">
            <app-shared-event-miniature [title]="subscription.eventId.title" [file]="subscription.eventId.file"
                [route]="'/home/event/' + subscription.eventId.title"></app-shared-event-miniature>
            <p>Asistencia el día {{ subscription.eventDateId.date }} a las {{ subscription.eventDateId.hour }} horas</p>            
        </div>
    </div>
</div>