::ng-deep {
  .swiper-button-prev.swiper-button-disabled,
  .swiper-button-next.swiper-button-disabled {
    opacity: 0;
  }
  .swiper-pagination-bullet.swiper-pagination-bullet-active{
    color: white;
  }
}

swiper {
  width: 30%;
}

img {
  width: 100%;
  height: auto;
}
