@import "../../../assets/colors.scss";

nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: fixed;
    background-color: $shadow-8;
    z-index: 1;
}

.title {
    margin-top: 15px;
    margin-left: 3%;

    h1 {
        font-family: "Readex Pro", sans-serif;
        font-size: 35px;
        font-weight: 700;
        color: $tint-8;
    }
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    margin-top: 15px;
    width: 100%;
}

li {
    display: flex;
    flex: 1;
    border-right: 1px solid $analog-tint-8;

    &:last-child {
        border-right: none;
        justify-content: center;
    }
}

a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: $analog-tint-8;
    height: 100%;
    width: 100%;
    font-size: 17px;
    transition: color 0.2s ease;

    &:hover {
        color: $analog-tint-3;
    }
}

button {
    padding: 10px 15px;        
    background-color: $analog-6;
    color: $tint-8;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    font-size: 15px;

    &:hover {
        background-color: $analog-tint-2;
    }
}